.about {
  width: 1240px;
  margin: 50px auto;

  img {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 20px;
  }
} // ← Accolade manquante !

.apropos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
} // ← Accolade manquante !

@media screen and (max-width: 375px) {
  .about {
    width: 100%;
    padding: 0;
    margin-top: 0;

    img {
      width: 335px;
      height: 111px;
      border-radius: 10px;
    }
  }

  .about-container {
    width: 335px;
    margin: 20px auto;
  }

  .collapse-apropos {
    .collapse-header {
      height: 30px;
      padding: 10px 12px;
      border-radius: 5px;

      h3 {
        font-size: 13px;
      }

      span {
        font-size: 18px;
      }
    }

    .collapse-content {
      font-size: 12px;
      padding: 20px 12px;
      line-height: 1.4;
    }
  }
}
