.about {
  width: 1240px;
  margin: 50px auto;

  img {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 20px;
  }
}

.apropos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
  .about {
    width: 100%;
    padding: 0;
    margin: 0;

    img {
      width: 335px;
      height: 111px;
      border-radius: 10px;
    }
  }

  .apropos-container {
    width: 335px;
    margin: 20px auto 0 auto;
  }

  .collapse-apropos {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .collapse-header {
      height: 30px;
      padding: 10px 12px;
      border-radius: 5px;

      h3 {
        font-size: 13px;
      }

      span {
        font-size: 18px;
      }
    }

    .collapse-content {
      font-size: 12px;
      padding: 20px 12px;
      line-height: 1.4;
    }
  }
}
