.about {
  width: 1240px;
  margin: 50px auto;

  img {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 20px;
  }

  @media screen and (max-width: 375px) {
    width: 335px;
    margin: 0 auto 10px;

    img {
      width: 335px;
      height: 111px;
    }
  }
}

.apropos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (max-width: 375px) {
    width: 335px;
  }
}

.collapse-apropos {
  margin-top: 20px;
  border-radius: 5px;
  width: 1023px;
  background: #fbfbfb;
  margin-bottom: 20px;

  @media screen and (max-width: 375px) {
    width: 335px;
    margin-left: 24px;
  }
}
