.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 40px;

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    z-index: 1;
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    margin-bottom: 20px;

    &-text {
      font-size: 24px;
      width: 90%;
    }
  }
}
