.banner {
  position: relative;

  &-img {
    width: 100%;
    height: 223px;
    object-fit: cover;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  &-text {
    position: absolute;
    color: white;
  }
}
