.carousel {
  position: relative;
  text-align: center;
  width: 1240px;
  height: 415px;
  margin: 30px auto;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  font-size: 9rem;
  padding: 5px 10px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}
.carousel-next {
  right: 10px;
}

.carousel-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
  border-radius: 5px;
}
