.logement-collapse {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1240px;
  gap: 76px;
  margin: 0 auto 40px;
}

.collapse {
  margin-top: 20px;
  border-radius: 5px;
  width: 582px;
  background: #fbfbfb;
  margin-bottom: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: #ff6060;
    color: #fff;
    border-radius: 10px;
    height: 52px;
    line-height: 0.9;

    h3 {
      margin-left: 15px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 18px;
    }

    span {
      align-self: center;
      margin-right: 10px;
    }
  }

  &-content {
    padding: 10px;
  }
}

.collapse-container {
  margin-top: 20px;
  border-radius: 5px;
  width: 1023px;
  background: #fbfbfb;
  margin-bottom: 20px;
  margin: 30px auto;
}

@media screen and (max-width: 375px) {
  .logement-collapse {
    flex-direction: column;
    width: 335px;
    margin: 0 auto;
    gap: 0;
    margin-bottom: 10px;
  }

  .collapse-container {
    width: 335px;
    margin-top: 10px;

    .collapse-header {
      padding: 5px;
      height: 20px;
      margin-bottom: -15px;

      h3 {
        font-size: 13px;
        margin-left: 0;
        align-self: center;
      }

      span {
        font-size: 16px;
      }
    }

    .collapse-content {
      font-size: 12px;
      padding: 20px 10px;
    }
  }
}
