.logement-collapse {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1240px;
  width: 100%;
  gap: 76px;
  margin: 30px auto 40px auto;
  padding: 0 20px;
}

.collapse {
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 582px;
  background: #f6f6f6;
  margin-bottom: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: #ff6060;
    color: #fff;
    border-radius: 10px;
    min-height: 52px;
    padding: 10px 15px;

    h3 {
      margin: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 18px;
    }

    .arrow {
      font-size: 24px;
      font-weight: bold;
      transition: transform 0.3s ease;
      display: inline-block;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &-content {
    transition: max-height 0.3s ease;
    overflow: hidden;

    .collapse-inner {
      padding: 20px 15px;
      color: #000;
      font-size: 18px;
      font-family: "Montserrat", serif;
      line-height: 1.5;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.collapse-container {
  margin-top: 20px;
  border-radius: 5px;
  max-width: 1023px;
  width: 100%;
  background: #fbfbfb;
  margin: 30px auto;
  padding: 0 20px;
}

@media screen and (max-width: 375px) {
  .logement-collapse {
    flex-direction: column;
    width: 100%;
    max-width: 335px;
    margin: 20px auto;
    gap: 0px;
    padding: 0;
    margin-bottom: 40px;
  }

  .collapse {
    max-width: 100%;

    &-header {
      min-height: 30px;
      padding: 0px 12px;

      h3 {
        font-size: 13px;
      }

      .arrow {
        font-size: 16px;
      }
    }

    &-content {
      .collapse-inner {
        font-size: 12px;
        padding: 15px 10px;
      }
    }
  }

  .collapse-container {
    width: 100%;
    max-width: 335px;
    padding: 0;
    margin-bottom: -30px;

    .collapse-header {
      padding: 0px 12px;
      min-height: 30px;

      h3 {
        font-size: 13px;
      }

      span {
        font-size: 16px;
      }
    }

    .collapse-content {
      font-size: 12px;
      padding: 15px 10px;
    }
  }
}
