.error-content {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;

  .error-nbr {
    font-size: 288px;
    color: #ff6060;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    align-self: center;
    line-height: 1;
    margin: 0;
  }

  .error-msg {
    align-self: center;
    margin: 70px 0 60px 0;
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .mobile-break {
    display: none;
  }

  .home-page {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    align-self: center;
    margin-bottom: 115px;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 375px) {
  .error-content {
    padding: 70px 20px 20px 20px;

    .error-nbr {
      font-size: 96px;
    }

    .error-msg {
      font-size: 18px;
      text-align: center;
      margin: 30px 0;
      width: 100%;
      max-width: 260px;
    }

    .mobile-break {
      display: inline;
    }

    .home-page {
      font-size: 14px;
      width: 100%;
      max-width: 221px;
      text-align: center;
      margin-bottom: 60px;
    }
  }
}
