.logement-header {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  margin-right: 20px;
  margin-left: 20px;
}

.host {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 167px;
  gap: 7px;
}
.logement-info {
  h1 {
    color: #ff6060;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0 310px;
    font-weight: 500;
    width: 635px;
  }

  p {
    margin: 5px 0 0 315px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #000;
  }
}

.logement-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 15px 310px;
  width: 167px;
}

.host-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

p {
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}
