.logement-header {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  margin-right: 20px;
  margin-left: 20px;
}

.host {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 167px;
  gap: 7px;
}

.logement-info {
  h1 {
    color: #ff6060;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0 310px;
    font-weight: 500;
    width: 635px;
  }
  p {
    margin: 5px 0 0 315px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #000;
  }
}

.logement-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 15px 310px;
  width: 167px;
}

.host-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

p {
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 375px) {
  .logement-header {
    flex-direction: column;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 15px;
  }

  .logement-info {
    margin-top: -15px;
    h1 {
      font-size: 18px;
      margin: 0;
      width: 335px;
    }
    p {
      margin: 5px 0;
      font-size: 14px;
      width: 223px;
    }
  }

  .logement-host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0 0 0;
  }

  .host {
    width: auto;
    align-items: flex-start;
  }

  .host-name {
    font-size: 12px;
    width: 60px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
    margin-right: 11px;
    margin-top: 10px;
  }
}
