.logement-page {
  padding: 20px;
}

.carousel {
  position: relative;
  text-align: center;
  width: 1240px;
  height: 415px;
  margin: 30px auto;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  font-size: 9rem;
  padding: 5px 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
  border-radius: 5px;
}

.logement-header {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.logement-tags {
  margin: 20px 0 0 310px;

  .tag {
    background-color: #ff6060;
    color: white;
    border-radius: 20px;
    padding: 3px 25px;
    margin-right: 10px;
  }
}

.logement-info {
  h1 {
    color: #ff6060;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0 310px;
    font-weight: 500;
    width: 635px;
  }

  p {
    margin: 0 0 0 310px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
}

.logement-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 310px;
  width: 167px;

  .host-info {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      color: #ff6060;
      font-family: "Montserrat", sans-serif;
    }
  }
}

.logement-rating {
  display: flex;
  gap: 5px;

  .star {
    display: inline-block;
    width: auto;
    height: 36px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: lightgray;

    &.filled {
      color: #ff6060;
    }
  }
}

.logement-collapse {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1240px;
  gap: 76px;
  margin: auto;
}

.collapse {
  margin-top: 20px;
  border-radius: 5px;
  width: 582px;
  background: #fbfbfb;
  margin-bottom: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: #ff6060;
    color: #fff;
    border-radius: 10px;
}

    h3 {
      margin-left: 15px;
    }

    span {
      align-self: center;
      margin-right: 10px;
    }
  }

  &-content {
    padding: 10px;
  }
}

/* --------- RESPONSIVE --------- */
@media screen and (max-width: 375px) {
  .carousel {
    width: 335px;
    height: 255px;
    margin: 0 0 0 -8px;

    img {
      height: 255px;
    }
  }

  .prev,
  .next {
    font-size: 3rem;
    padding: 5px 0px;
  }

  .logement-header {
    flex-direction: column;
    margin-top: 20px;
  }

  .logement-info {
    h1 {
      font-size: 18px;
      margin: 0;
      width: 335px;
    }

    p {
      margin: 5px 0;
      font-size: 14px;
      width: 223px;
    }
  }

  .logement-tags {
    margin: 20px 0 0;

    .tag {
      font-size: 10px;
    }
  }

  .logement-host {
    align-items: flex-start;
    margin: 0;
    width: 135px;

    .host-info {
      margin-left: 230px;

      p {
        font-size: 12px;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .logement-rating {
    margin-top: -45px;

    .star {
      font-size: 20px;
    }
  }

  .logement-collapse {
    flex-direction: column;
    width: 335px;
    margin-left: -8px;
    gap: 0;
  }

  .collapse {
    width: 335px;

    &-header {
      height: 30px;
      line-height: 0;

      h3 {
        font-size: 13px;
      }
    }

    &-content {
      font-size: 12px;
    }
  }
}
