.navbar {
  display: flex;
  align-items: center;
  gap: 90px;
  color: #000;
  width: 1240px;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: #000;
    margin-top: 60px;
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;

    &.active {
      color: #000;
      text-decoration: underline;
    }
  }

  &_logo {
    margin-right: auto;
    width: 210px;
    height: 68px;
    margin-top: 30px;

    img {
      margin-left: -20px;
    }
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    width: 335px;
    gap: 0px;

    &_logo {
      width: 145px;
      margin-top: 0;

      img {
        width: 145px;
        margin: 0;
        height: 53px;
      }
    }

    a {
      font-size: 12px;
      margin-top: 0;
      width: 85px;
      text-transform: uppercase;
    }
  }
}
