.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
  gap: 75px;

  a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    transition: text-decoration 0.2s ease;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
    }
  }

  &_logo {
    display: flex;
    align-items: center;
    margin-right: auto;

    img {
      width: 210px;
      height: auto;
    }
  }

  nav {
    display: flex;
    gap: 60px;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    width: 100%;
    max-width: 335px;
    padding: 20px 20px 0 20px;
    gap: 0;

    a {
      font-size: 12px;
      text-transform: uppercase;
    }

    nav {
      gap: 20px;
    }

    &_logo {
      margin-right: 0;
      margin-left: -25px;
    }
    img {
      width: 145px;
      height: auto;
    }
  }
}
