.rating {
  display: flex;
  gap: 10px;
  align-items: center;

  .star {
    display: inline-block;
    width: auto;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #e3e3e3;
    transition: color 0.2s ease;

    &.filled {
      color: #ff6060;
    }
  }
}

@media screen and (max-width: 768px) {
  .rating {
    gap: 8px;

    .star {
      height: 24px;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 375px) {
  .rating {
    gap: 5px;

    .star {
      height: 18px;
      font-size: 18px;
      line-height: 18px;
    }
  }
}
