.logement-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.tag {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .logement-tags {
    gap: 8px;
    margin-top: 15px;
  }

  .tag {
    font-size: 12px;
    padding: 4px 15px;
  }
}

@media screen and (max-width: 375px) {
  .logement-tags {
    gap: 10px;
    margin-top: 10px;
  }

  .tag {
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 5px;
  }
}
