.logement-tags {
  margin: 20px 0 0 315px;
}
.tag {
  background-color: #ff6060;
  color: white;
  border-radius: 20px;
  padding: 3px 25px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  .logement-tags {
    margin: 20px 0 0;

    .tag {
      font-size: 10px;
    }
  }
}
