.container {
  width: 1240px;
  height: auto;
  margin: 100px auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 30px;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  gap: 60px;
  padding: 50px;
}

.card {
  width: 340px;
  background-color: #ff6060;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 200px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 15px;
  color: white;
  text-align: center;
}
