.error-content {
  display: flex;
  flex-direction: column;
}

.error-nbr {
  font-size: 288px;
  color: #ff6060;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  align-self: center;
}

.error-msg {
  align-self: center;
  margin-bottom: 60px;
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 70px;
}

.home-page {
  text-decoration: underline;
  color: #000;
  margin-top: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  margin-bottom: 115px;
}
