.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 210px;
  background-color: black;
  padding: 20px;
  color: #fff;

  &_logo img {
    display: block;
    width: 122px;
    height: auto;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
}
