.logement-page {
  padding: 20px;
}
.carousel {
  position: relative;
  text-align: center;
  width: 1240px;
  height: 415px;
  margin: 30px auto;
}
.carousel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 5px 10px;
  cursor: pointer;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
  border-radius: 5px;
}
.logement-header {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.logement-tags {
  margin: 20px 0 0 310px;
}
.logement-tags .tag {
  background-color: #ff6060;
  color: white;
  border-radius: 20px;
  padding: 3px 25px;
  margin-right: 10px;
}

.logement-info h1 {
  color: #ff6060;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 0 310px;
  font-weight: 500;
}

.logement-info p {
  margin: 0 0 0 310px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.logement-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 310px;
  width: 167px;
}

.host-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-info img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.host-info p {
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}

.logement-rating {
  display: flex;
  gap: 5px;
}

.logement-rating .star {
  display: inline-block;
  width: auto;
  height: 36px;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: lightgray;
}

.logement-rating .star.filled {
  color: #ff6060;
}

.logement-collapse {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1240px;
  gap: 76px;
  margin: auto;
}

.collapse {
  margin-top: 20px;
  border-radius: 5px;
  width: 582px;
  background: #fbfbfb;
  margin-bottom: 20px;
}
.collapse-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: #ff6060;
  color: #fff;
  border-radius: 10px;
}

.collapse-header h3 {
  margin-left: 15px;
}

.collapse-header span {
  align-self: center;
  margin-right: 10px;
}

.collapse-content {
  padding: 10px;
}
