.navbar {
  display: flex;
  align-items: center;
  gap: 90px;
  color: #000;
  width: 1240px;
  margin: 0 auto;
}

.navbar_logo {
  margin-right: auto;
  width: 210px;
  height: 68px;
  margin-top: 30px;
}

.active {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
  margin-top: 60px;
  cursor: default;
  font-weight: 500;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}
