.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
  padding: 0 2rem;
}

.navbar_logo {
  margin-right: auto;
}

.active {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}
