.navbar {
  display: flex;
  align-items: center;
  gap: 90px;
  color: #000;
  width: 1240px;
  margin: 0 auto;
}

.navbar_logo {
  margin-right: auto;
  width: 210px;
  height: 68px;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #000;
  margin-top: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.navbar_logo img {
  margin-left: -20px;
}

.navbar a.active {
  color: #000;
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  .navbar {
    width: 100%;
    padding: 10px 15px;
  }

  .navbar_logo img {
    width: 145px;
    margin: 0;
  }

  .navbar_logo {
    width: 145px;
    margin-top: 0;
  }

  a {
    font-size: 14px;
    margin-top: 0;
    width: 85px;
  }

  .navbar {
    gap: 10px;
  }
}
